In [4]:
import pandas as pd

INPUT_FILE = '../data/processed/balanced_fights.csv'

df = pd.read_csv(INPUT_FILE)
df.head()

,f1_height,f1_sub_att,f1_sub_att.1,f2_height,f1_ctrl,f1_ctrl.1,f2_td_pct,f2_td_pct.1,f2_tot_str_attempted,f2_tot_str_attempted.1,...,f1_kd,f1_kd.1,target,f1_age,f1_rev,f1_rev.1,f1_sig_str_attempted,f1_sig_str_attempted.1,method_detail,f1_link
0,160.02,1,0,157.48,271,7,0.0,0.18,48,67,...,0,0,0,35.104723,0,0,55,46,Armbar On Ground,http://ufcstats.com/fighter-details/d05cb1e8d1...
1,165.10,2,2,177.80,38,38,0.0,0.00,12,12,...,0,0,1,28.588638,1,1,7,7,Rear Naked Choke,http://ufcstats.com/fighter-details/a0f0004aad...
2,190.50,1,1,185.42,39,39,0.0,0.00,12,12,...,0,0,1,35.906913,0,0,1,1,Triangle Choke From Bottom Guard,http://ufcstats.com/fighter-details/2be6596a9d...
3,180.34,0,0,177.80,24,24,0.5,0.50,104,104,...,0,0,0,33.853525,1,1,188,188,Adrian Castro 27 - 30. Marcel Varela 27 - 30. ...,http://ufcstats.com/fighter-details/19c591115a...
4,175.26,0,0,170.18,2,2,0.0,0.00,0,0,...,1,1,1,28.364134,0,0,4,4,Punch to Head At Distance,http://ufcstats.com/fighter-details/7d96bc577e...

In [5]:
import pandas as pd

INPUT_FILE = '../data/processed/balanced_fights.csv'

df = pd.read_csv(INPUT_FILE)
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 17024 entries, 0 to 17023
Data columns (total 68 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   f1_height               17010 non-null  float64
 1   f1_sub_att              17024 non-null  int64
 2   f1_sub_att.1            17024 non-null  int64
 3   f2_height               17010 non-null  float64
 4   f1_ctrl                 17024 non-null  int64
 5   f1_ctrl.1               17024 non-null  int64
 6   f2_td_pct               17024 non-null  float64
 7   f2_td_pct.1             17024 non-null  float64
 8   f2_tot_str_attempted    17024 non-null  int64
 9   f2_tot_str_attempted.1  17024 non-null  int64
 10  f1_name                 17024 non-null  str
 11  f2_sig_str_landed       17024 non-null  int64
 12  f2_sig_str_landed.1     17024 non-null  int64
 13  f1_tot_str_landed       17024 non-null  int64
 14  f1_tot_str_landed.1     17024 non-null  int64
 15  f1_td_attempted         17024 non-null  int64
 16  f1_td_attempted.1       17024 non-null  int64
 17  f2_kd                   17024 non-null  int64
 18  f2_kd.1                 17024 non-null  int64
 19  f2_tot_str_landed       17024 non-null  int64
 20  f2_tot_str_landed.1     17024 non-null  int64
 21  event_date              17024 non-null  str
 22  f1_stance               17024 non-null  str
 23  f2_reach                15745 non-null  float64
 24  f1_td_landed            17024 non-null  int64
 25  f1_td_landed.1          17024 non-null  int64
 26  f2_td_attempted         17024 non-null  int64
 27  f2_td_attempted.1       17024 non-null  int64
 28  f2_sig_str_attempted    17024 non-null  int64
 29  f2_sig_str_attempted.1  17024 non-null  int64
 30  f2_link                 17024 non-null  str
 31  f2_name                 17024 non-null  str
 32  weight_class            17024 non-null  str
 33  f2_age                  16907 non-null  float64
 34  f1_td_pct               17024 non-null  float64
 35  f1_td_pct.1             17024 non-null  float64
 36  f2_sig_pct              17024 non-null  float64
 37  f2_sig_pct.1            17024 non-null  float64
 38  f1_sig_pct              17024 non-null  float64
 39  f1_sig_pct.1            17024 non-null  float64
 40  f2_rev                  17024 non-null  int64
 41  f2_rev.1                17024 non-null  int64
 42  f2_ctrl                 17024 non-null  int64
 43  f2_ctrl.1               17024 non-null  int64
 44  f1_reach                15745 non-null  float64
 45  f2_weight               17014 non-null  float64
 46  referee                 16972 non-null  str
 47  f1_tot_str_attempted    17024 non-null  int64
 48  f1_tot_str_attempted.1  17024 non-null  int64
 49  f2_sub_att              17024 non-null  int64
 50  f2_sub_att.1            17024 non-null  int64
 51  f1_weight               17014 non-null  float64
 52  f2_stance               17024 non-null  str
 53  total_time_seconds      17024 non-null  int64
 54  f2_td_landed            17024 non-null  int64
 55  f2_td_landed.1          17024 non-null  int64
 56  f1_sig_str_landed       17024 non-null  int64
 57  f1_sig_str_landed.1     17024 non-null  int64
 58  f1_kd                   17024 non-null  int64
 59  f1_kd.1                 17024 non-null  int64
 60  target                  17024 non-null  int64
 61  f1_age                  16907 non-null  float64
 62  f1_rev                  17024 non-null  int64
 63  f1_rev.1                17024 non-null  int64
 64  f1_sig_str_attempted    17024 non-null  int64
 65  f1_sig_str_attempted.1  17024 non-null  int64
 66  method_detail           16876 non-null  str
 67  f1_link                 17024 non-null  str
dtypes: float64(16), int64(42), str(10)
memory usage: 8.8 MB

In [6]:
import pandas as pd

INPUT_FILE = '../data/processed/balanced_fights.csv'

df = pd.read_csv(INPUT_FILE)
df.describe()

,f1_height,f1_sub_att,f1_sub_att.1,f2_height,f1_ctrl,f1_ctrl.1,f2_td_pct,f2_td_pct.1,f2_tot_str_attempted,f2_tot_str_attempted.1,...,f1_sig_str_landed,f1_sig_str_landed.1,f1_kd,f1_kd.1,target,f1_age,f1_rev,f1_rev.1,f1_sig_str_attempted,f1_sig_str_attempted.1
count,17010.000000,17024.000000,17024.000000,17010.000000,17024.000000,17024.000000,17024.000000,17024.000000,17024.000000,17024.000000,...,17024.000000,17024.000000,17024.000000,17024.000000,17024.000000,16907.000000,17024.000000,17024.000000,17024.000000,17024.000000
mean,178.472555,0.435150,0.376116,178.472555,150.266212,130.734845,0.226044,0.264007,98.784070,103.160832,...,39.153548,36.921992,0.244596,0.213875,0.500000,30.423123,0.134868,0.134692,84.979206,82.504817
std,9.040557,0.872148,0.812749,9.040557,189.916376,173.852884,0.332336,0.352478,77.150095,78.575912,...,33.094671,32.360861,0.515831,0.490663,0.500015,4.145695,0.424416,0.422461,71.434243,70.503436
min,152.400000,0.000000,0.000000,152.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,18.171116,0.000000,0.000000,0.000000,0.000000
25%,172.720000,0.000000,0.000000,172.720000,7.000000,5.000000,0.000000,0.000000,34.000000,37.000000,...,14.000000,12.000000,0.000000,0.000000,0.000000,27.483915,0.000000,0.000000,29.000000,27.000000
50%,177.800000,0.000000,0.000000,177.800000,71.000000,56.000000,0.000000,0.000000,86.000000,91.000000,...,31.000000,29.000000,0.000000,0.000000,0.500000,30.247775,0.000000,0.000000,68.000000,65.000000
75%,185.420000,1.000000,0.000000,185.420000,227.000000,193.000000,0.400000,0.500000,146.000000,151.000000,...,56.000000,53.000000,0.000000,0.000000,1.000000,33.163587,0.000000,0.000000,122.000000,119.000000
max,210.820000,10.000000,10.000000,210.820000,1338.000000,1338.000000,1.000000,1.000000,567.000000,746.000000,...,445.000000,445.000000,5.000000,6.000000,1.000000,51.890486,6.000000,6.000000,744.000000,744.000000