In [ ]:
import pandas as pd

INPUT_FILE = '../data/processed/clean_fight_details.csv'

df = pd.read_csv(INPUT_FILE)
df.info()

,f1_kd,f2_kd,f1_sig_pct,f2_sig_pct,f1_td_pct,f2_td_pct,f1_sub_att,f2_sub_att,f1_rev,f2_rev,...,f2_sig_str_landed,f2_sig_str_attempted,f1_tot_str_landed,f1_tot_str_attempted,f2_tot_str_landed,f2_tot_str_attempted,f1_td_landed,f1_td_attempted,f2_td_landed,f2_td_attempted
count,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,...,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000,8499.000000
mean,0.244852,0.183316,0.476828,0.434742,0.301986,0.226201,0.435816,0.316978,0.134839,0.134604,...,34.678903,79.991528,58.826215,107.519120,51.016120,98.730674,1.213319,2.964584,0.909048,2.692905
std,0.516093,0.462324,0.163062,0.171004,0.367670,0.332468,0.872674,0.744009,0.424241,0.420695,...,31.457400,69.473298,45.900796,79.771617,42.619876,77.147330,1.820242,3.786555,1.536360,3.716832
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.370000,0.330000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,25.000000,22.000000,41.000000,17.000000,34.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.470000,0.430000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,...,26.000000,63.000000,51.000000,96.000000,42.000000,86.000000,1.000000,1.000000,0.000000,1.000000
75%,0.000000,0.000000,0.570000,0.530000,0.500000,0.400000,1.000000,0.000000,0.000000,0.000000,...,50.000000,117.000000,84.000000,157.000000,75.000000,146.000000,2.000000,4.000000,1.000000,4.000000
max,5.000000,6.000000,1.000000,1.000000,1.000000,1.000000,10.000000,7.000000,6.000000,5.000000,...,241.000000,510.000000,447.000000,746.000000,529.000000,567.000000,21.000000,37.000000,12.000000,49.000000

In [ ]:
import pandas as pd

INPUT_FILE = '../data/processed/clean_fight_details.csv'

df = pd.read_csv(INPUT_FILE)
df.describe()